body {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0%;
    text-align: center;
    background-color: rgb(32, 32, 88);
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 12%;
  }

  #ConteinerCard{
    display: flex;
    justify-content: center;
  }
  